Hello<br>
The most isolated country is: {{selectedCountry}}
<div class="wrapper">
<table>
  <thead>
    <tr><th colspan="4" class="padding top"></th></tr>
    <tr>
      <th>Agent Id</th>
      <th>Country</th>
      <th>Address</th>
      <th>Date</th>
    </tr>
    <tr><th colspan="4" class="padding bottom"></th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows" [ngClass]="{'fontGreen': minPitagoras === row.pitagoras, 'fontRed': maxPitagoras === row.pitagoras}">
      <td>{{row.agent}}</td>
      <td>{{row.country}}</td>
      <td>{{row.address}}</td>
      <td>{{row.date}}</td>
    </tr>
    <tr>
      <td colspan="4" class="footer">{{rows.length}} missions</td>
    </tr>
  </tbody>
</table>
</div>