$font-color: #888888;
$border-color: #aaaaaa;
$background-color: #eeeeee;

.wrapper {
    margin-top: 1.0em;
    
    table {
        font-family: Arial;
        font-size: 12px;
        width: 80%;
        color: $font-color;
        border: 1px solid $border-color;
        border-spacing: 0px;

        th, td {
            line-height: 2.0em;
            padding-left: 0.5em;
        }

        th {
            text-align: left;
            border-bottom: 0px;
            border-left: 1px solid $border-color;
            background-color: $background-color;

            &:first-child {
                border-left: none;
            }
        }

        th.padding {
            border-bottom: 0px;
            border-left: 0px;
            height: 2px;           
        }

        th.bottom {
            border-bottom: 2px solid $border-color;
        }

        td {
            border-bottom: 1px solid $border-color;
        }

        tr {
            &:last-child {
                background-color: $background-color;
            }
        }

        .footer {
            text-align: right;
            padding-right: 0.5em;
            border-bottom: 0px;
        }

        .fontRed {
            td {
                color: red;
                font-weight: 700;
            }
        }

        .fontGreen {
            td {
                color:lightgreen;
                font-weight: 700;
            }
        }
    }
}